doctype html
html
  head
    title Lines
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/posts/create") Add Post
                li
                    a(href="/posts/categories") Add Category
        block content
