doctype html
html
  head
    title Lines
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
        .band
            .navigation
                nav
                    ul.navigation-list
                        li.navigation-list-item
                            a(href="/") Home
                        li.navigation-list-item
                            a(href="/posts/add-line") Add Post
                        li.navigation-list-item
                            a(href="/categories/add-category") Add Category
        .band
            block content
